@use "sass:map";

// === Maps
$transition-time-func: (
  "ease": ease,
  "easeIn": ease-in,
  "easeOut": ease-out,
  "easeInOut": ease-in-out,
);

// === Button ====
// Primary
$btn-primary-color-bg: var(--primary-color);
$btn-primary-color-border: var(--primary-color);
$btn-primary-color-font: var(--main-color);

$btn-primary-color-bg-hover: var(--grey-color);
$btn-primary-color-font-hover: var(--second-color);
$btn-primary-color-border-hover: var(--grey-color);

$btn-primary-color-bg-focus: var(--primary-text-light);
$btn-primary-color-border-focus: var(--primary-text-light);
$btn-primary-color-font-focus: var(--second-color);

$btn-primary-color-bg-disabled: var(--grey-third-color);
$btn-primary-color-border-disabled: var(--grey-third-color);
$btn-primary-color-font-disabled: var(--main-color);
// Secondary
$btn-secondary-color-bg: var(--second-color);
$btn-secondary-color-font: var(--primary-color);
$btn-secondary-color-border: var(--second-color);

$btn-secondary-color-bg-hover: "";
$btn-secondary-color-font-hover: "";
$btn-secondary-color-border-hover: "";

$btn-secondary-color-bg-focus: "";
$btn-secondary-color-border-focus: "";
$btn-secondary-color-font-focus: var(--hover-color);

$btn-secondary-color-bg-disabled: "";
$btn-secondary-color-font-disabled: "";
$btn-secondary-color-border-disabled: "";
// Outline
$btn-outline-color-bg: var(--main-color);
$btn-outline-color-font: var(--primary-color);
$btn-outline-color-border: var(--third-color);

$btn-outline-color-bg-hover: var(--grey-second-color);
$btn-outline-color-font-hover: var(--primary-color);
$btn-outline-color-border-hover: var(--third-color);

$btn-outline-color-bg-focus: "";
$btn-outline-color-font-focus: var(--hover-color);
$btn-outline-color-font-disabled: "";

$btn-outline-color-bg-disabled: "";
$btn-outline-color-border-focus: "";
$btn-outline-color-border-disabled: "";

// ==== Input ===
$input-shadow-color-focus: var(--focus-color);
$input-shadow-color-error: var(--error-color);

$input-bg-color: var(--main-color);
$input-bg-color-hover: "";
$input-bg-color-focus: "";
$input-bg-color-disabled: var(--secondary-text-dark);

$input-font-color: "";
$input-font-color-placeholder: "";
$input-font-color-hover: "";
$input-font-color-disabled: var(--primary--text-color);
$input-font-color-error: "";

$input-color-border: var(--third-color);
$input-color-border-hover: var(--grey-other-color);
$input-color-border-focus: var(--focus-color);
$input-color-border-disabled: var(--primary--text-color);
$input-color-border-error: var(--error-color);

$input-font-color-hint-text: "";
$input-font-color-hint-text-error: var(--error-color);
$input-font-color-hint-text-disabled: var(--primary--text-color);

// === Switch ====
$switch-color-font: "";
$switch-color-font-disabled: "";
$switch-color-font-error: "";
$switch-track-bg-color: "";
$switch-track-bg-color-disabled: "";
$switch-thumb-bg-color: "";
$switch-thumb-bg-color-disabled: "";
$switch-thumb-bg-color-focus: "";
$switch-active-track-bg-color: "";
$switch-passive-track-bg-color: "";

// === Radio ===
$radio-bg-color: "";
$radio-bg-color-hover: "";
$radio-bg-color-focus: "";
$radio-bg-color-checked: "";
$radio-bg-color-disabled: "";
$radio-dot-bg-color: "";

// === Modal
$modal-bg-color: "";

// === Colors
$white-400: #fbfbfb;
$white-500: #eee;
$black: #222222;
$grey-300: #828282;
$grey-400: #4e4e4e;
$grey-500: #3f3f3f;
$grey-600: #383838;
$grey-700: #2c2c2c;
$orange-500: #ff5c00;
$orange-800: #c14600;

// === Spacing
$base-spacing: 0.8rem;

$desktop-gap: 2.2rem;
$tablet-gap: 1.6rem;
$mobile-gap: 0.8rem;

$desktop-padding: 2.2rem;
$tablet-padding: 1.6rem;
$mobile-padding: 0.8rem;

$border-size: $base-spacing;

// === Z-index
$z-header: 20;
$z-popup: 50;
$z-modal: 100;

// === Fonts
$common-font: Inter, sans-serif;

// === Other
$common-trans-func: map.get($transition-time-func, "easeOut");
$common-trans-time: 0.2s;
