@use "_mixins-utils.scss" as *;
@use "../_variables.scss" as *;

@mixin font-h1 {
  font-family: $common-font;
  font-size: 5.5rem;
  line-height: 128%;
  font-weight: 500;

  @include media-width(568) {
    font-size: 2.8rem;
  }
}

@mixin font-h2 {
  font-family: $common-font;
  font-size: 2.8rem;
  line-height: 128%;
  font-weight: 400;

  @include media-width(568) {
    font-size: 2.1rem;
  }
}

@mixin font-h3 {
  font-family: $common-font;
  font-size: 2.1rem;
  line-height: 128%;
  font-weight: 700;
  font-style: normal;
}

@mixin font-body {
  font-family: $common-font;
  font-size: 1.8rem;
  line-height: 128%;
  font-weight: 400;

  @include media-width(568) {
    font-size: 1.4rem;
  }
}

@mixin font-btn {
  font-family: $common-font;
  font-size: 1.4rem;
  line-height: 128%;
  font-weight: 700;
  font-style: normal;
}

@mixin font-label {
  font-family: $common-font;
  font-size: 1.5rem;
  line-height: 128%;
  font-weight: 400;

  @include media-width(568) {
    font-size: 1rem;
  }
}

@mixin font-info {
  font-family: $common-font;
  font-size: 1rem;
  line-height: 128%;
  font-weight: 400;
}

@mixin font-hint {
  font-family: $common-font;
  font-size: 1.1rem;
  line-height: 100%;
  font-weight: 400;
}