@use "_mixins-utils.scss" as *;
@use "../_variables.scss" as *;

@mixin content-container {
  max-width: 165rem;
  width: 100%;
  margin: 0 auto;
  padding-right: 4.8rem;
  padding-left: 4.8rem;

  @include media-width(1440) {
    padding-right: 3.6rem;
    padding-left: 3.6rem;
  }

  @include media-width(1024) {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }

  @include media-width(582) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
