@use '../_variables.scss' as *;

@mixin media-width($width, $type: max) {
	@if $type == max {
		$width: $width - 1px;
	}

	@media only screen and (#{$type}-width: $width) {
		@content;
	}
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin has-hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin scroll($size: 0.4rem, $orientation: vertical) {
	@if $orientation == vertical {
		&::-webkit-scrollbar-track {
			border-radius: 1rem;
			background-color: $grey-400;
		}

		&::-webkit-scrollbar {
			width: calc($size + 0.2rem);
			padding: 0 0.2rem;
			border-radius: $size;
			background-color: $grey-400;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: $size;
			background-color: $orange-500;
		}
	} @else {
		&::-webkit-scrollbar-track {
			border-radius: $size;
			background-color: $grey-400;
		}

		&::-webkit-scrollbar {
			height: $size;
			padding: 0 0.2rem;
			border-radius: $size;
			background-color: $grey-400;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: $size;
			background-color: $orange-500;
		}
	}
}

// stylelint-disable scss/no-global-function-names
@mixin transit($time, $func, $properties...) {
	$change: ();
	$transition: ();

	@each $property in $properties {
		$change: append($change, $property, $separator: comma);
		$transition: append($transition, ($property $time $func), $separator: comma);
	}

	transition: $transition;
}

/** Миксин для анимации скрытия блока */
@mixin fade($type: hide) {
 @if $type == hide {
   visibility: hidden;
   opacity: 0;
   transition: visibility 1s, opacity 1s;
 } @else if $type == show {
   visibility: visible;
   opacity: 1;
   transition: visibility 1s, opacity 1s;
 }
}
