.flashCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  align-items: baseline;
}

.learnCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.allCardList {
  width: 100%;
}
